body {
    margin: 0;

}

nav {
    position: absolute;
    left: 0;
    top: 0;

    ul {
        font-family: "DM Mono", monospace;
        padding: 0;
        list-style: none;
        width: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;

        li {
            width: auto;
            background-color: #a75813;
            text-align: right;
            transition: 0.6s;
            display: inline-block;

            &:hover a {
                margin-left: 0;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                display: inline-block;
                height: 100%;
                width: 120px;
                margin-left: -84px;
                transition: 0.3s;
            }

            
        }
        
        .two:hover a {
            margin-left: -20px;
        }
        
        .three:hover a {
            margin-left: 0px;
        }
        
        
        .four:hover a {
            margin-left: -20px;
        }
        
        .five {
            border-radius: 0 0 10px 0;
            &:hover a {
                margin-left: -5px;
            }
        }
        
        .one {
            border-radius: 0 10px 0 0;
        }
        
        .five:hover {
            border-radius: 0;
        }
        
        .one:hover {
            border-radius: 0;
            &:hover a {
                margin-left: -30px;
            }
        }

        i {
            padding: 10px;
        }
    }
}
